extend ../../layouts/main.pug

block title
  title= t('Forget Password')

block preheader
  span= t(`Forget Password - ${app.title}`)

block content
  p Hello <b>#{username}</b>!
  p
    | Here is a link that will allow you to reset your password.  Please note it will expire in one day for your protection:
  p
    a(href=`${app.domain}/reset-password?email=${email}&token=${token}`) Reset Your Password
  p
    | If you did not request this, please ignore this email and your password will remain unchanged.
  p
    | Thanks so much for using our services! If you have any questions, or suggestions, please feel free to email us here at&nbsp;
    a(href='mailto:' + app.contactEmail) #{app.contactEmail}
    | .

